{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block body %}
<link rel="stylesheet" type="text/css" href="https://dl.dropbox.com/s/uv720gm9gexalnk/dashboard.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
  localStorage.setItem("logged_in", 1);

  var len_file_dir = JSON.parse("{{ dir_length }}");
  localStorage.setItem("dir_len", len_file_dir);

  var name_in_dir = JSON.stringify("{{ dir_names }}");
  var name_in_dir = JSON.parse(name_in_dir);

  var name_in_dir = name_in_dir.replaceAll("[", "");
  var name_in_dir = name_in_dir.replaceAll("]", "");
  var name_in_dir = name_in_dir.replaceAll("&#34;", '"');
  var name_in_dir = name_in_dir.replaceAll("&#39;", '');
  var name_in_dir = name_in_dir.replaceAll("(", '');
  var name_in_dir = name_in_dir.replaceAll(")", '');
  var name_in_dir = name_in_dir.replaceAll('"', '');

  var name_in_dir = name_in_dir.split(",");

  localStorage.setItem("dir_name", name_in_dir);

  var userpath = "{{ userpath }}";
  var userpath = userpath.replaceAll("&#34;", '');
  var userpath = userpath.replaceAll("&#39;", '');
  var userpath = userpath.replaceAll("(", '');
  var userpath = userpath.replaceAll(")", '');
  var userpath = userpath.replaceAll(", ", '');

  var option;
  var pickedfile;
 
  $(document).ready(function(){
    var table_data = [];
    var i;

    for (i = 0; i < len_file_dir; i++) {
      document.getElementById("table_data").innerHTML += `
      <tr><td>${i}</td>
      <td>${name_in_dir[i]}</td>
      <td><a href='/'><option value='1' file-name='${name_in_dir[i]}'>Single Line Graph</option></a></td>
      <td><a href='/'><option value='2' file-name='${name_in_dir[i]}'>Multiple Line Graph</option></a></td>
      <td><a href='/'><option value='3' file-name='${name_in_dir[i]}'>Bar Graph</option></a></td>
      <td><a href='/'><option value='4' file-name='${name_in_dir[i]}'>Stacked Bar Graph</option></a></td>
      </tr>
      `
    }

    if(len_file_dir == 0){
      document.getElementById("table_data").innerHTML += `
      <tr><td>There are no graphs yet</td></tr>
      `
    }
  });
  
  $(document).ready(function(){
    $("option").click(function(){
      var filename = $(this).attr('file-name');
      var graphtype = $(this).attr('value');
      var filepath = userpath+filename;
      var filepath = filepath.replaceAll("\\ ", "\\");
      var filepath = filepath.replaceAll("/ ", "/");
      console.log(filepath);
      sessionStorage.setItem("choice", filepath);
      sessionStorage.setItem("graphtype", graphtype);
      console.log(sessionStorage.getItem('choice'));
      console.log(sessionStorage.getItem('graphtype'));

    })
  })



</script>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Graph CSV's</a>
      </div>
    </div>
  </nav>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Welcome, {{ name }}</h1>
        </div>

        <h2 class="sub-header">Previous Uploads</h2>
        <div class="table-responsive">
          <table class="table table-striped" id='table'>
            <thead>
              <tr>
                <th>ID</th>
                <th>File Name</th>
                <th>Single Line Graph</th>
                <th>Multiple Line Graph</th>
                <th>Bar Graph</th>
                <th>Stacked Bar Graph</th>
              </tr>
            </thead>
            <tbody id="table_data">
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
