{% extends "base.html" %}
{% block title %}Help{% endblock %}
{% block body %}
<link rel="stylesheet" type="text/css" href="https://dl.dropbox.com/s/iyrrn20zt5za9ma/styles.css"/>

<div class="background">
    <h1 style='text-align: center'>Graph CSV's</h1>
</div>
<br>
<br>
<br>
<div>
    <p class="lead">On the Home Page, select Choose File and proceed to hit submit after selecting the file to upload it.</p>
    <p class="lead">You can also register and log in, after logging in files you upload will be saved to your newly creating directory so you can review previous uploads.</p>
</div>
{% endblock %}